In [10]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.6/dist-packages (3.24.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.6/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [11]:
import cassandra; print (cassandra.__version__)

3.24.0

In [12]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from cassandra.query import SimpleStatement

cloud_config= {
    'secure_connect_bundle': 'secure-connect-naruhodo.zip'
}
auth_provider = PlainTextAuthProvider('naruhodo','123456')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

In [13]:
session.execute('USE naruhodo;')

In [14]:
session.execute('CREATE TABLE IF NOT EXISTS professor (id_prof int PRIMARY KEY, nome_prof text, idioma_prof text);')
session.execute('CREATE TABLE IF NOT EXISTS aluno (id_aluno int PRIMARY KEY, nome_aluno text, email_aluno text,  idioma_aluno text);')
session.execute('CREATE TABLE IF NOT EXISTS recepcionista (id_recep int PRIMARY KEY, nome_recep text, senha_recep text);')
session.execute('CREATE TABLE IF NOT EXISTS sala_de_aula (id_sala int PRIMARY KEY, numero_sala int, andar_sala int, capacidade int);')
session.execute('CREATE TABLE IF NOT EXISTS agenda (hora timestamp, data date, id_aluno int, id_prof int, id_sala int, id_recep int, PRIMARY KEY (id_aluno, id_prof, id_sala, id_recep));')

In [15]:
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (1, 'Ana', 'ana@gmail.com', 'ingles'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (2, 'Carol', 'carol@gmail.com', 'ingles'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (3, 'Bruna', 'bruna@gmail.com', 'espanhol'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (4, 'Fernando', 'fernando@gmail.com', 'ingles'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (5, 'Mateus', 'mateus@gmail.com', 'ingles'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (6, 'Camila', 'camila@gmail.com', 'ingles'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (7, 'Lucas', 'lucas@gmail.com', 'ingles'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (8, 'Arnaldo', 'arnaldo@gmail.com', 'frances'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (9, 'Charles', 'charles@gmail.com', 'frances'))
session.execute("INSERT INTO aluno (id_aluno, nome_aluno, email_aluno,  idioma_aluno) VALUES (%s, %s, %s, %s);", (10, 'Alex', 'alex@gmail.com', 'espanhol'))

In [16]:
session.execute("INSERT INTO recepcionista (id_recep, nome_recep,  senha_recep) VALUES (%s, %s, %s);", (1010, 'Glória', 'senha1'))
session.execute("INSERT INTO recepcionista (id_recep, nome_recep,  senha_recep) VALUES (%s, %s, %s);", (2020, 'Débora', 'senha2'))
session.execute("INSERT INTO recepcionista (id_recep, nome_recep,  senha_recep) VALUES (%s, %s, %s);", (3030, 'Larissa', 'senha3'))
session.execute("INSERT INTO recepcionista (id_recep, nome_recep,  senha_recep) VALUES (%s, %s, %s);", (4040, 'Geovana', 'senha4'))

In [17]:
session.execute("INSERT INTO professor (id_prof, nome_prof,  idioma_prof) VALUES (%s, %s, %s);", (10101, 'Jorge', 'inglês'))
session.execute("INSERT INTO professor (id_prof, nome_prof,  idioma_prof) VALUES (%s, %s, %s);", (20202, 'Luiz', 'inglês'))
session.execute("INSERT INTO professor (id_prof, nome_prof,  idioma_prof) VALUES (%s, %s, %s);", (30303, 'Vitória', 'espanhol'))
session.execute("INSERT INTO professor (id_prof, nome_prof,  idioma_prof) VALUES (%s, %s, %s);", (40404, 'Ingrid', 'espanhol'))
session.execute("INSERT INTO professor (id_prof, nome_prof,  idioma_prof) VALUES (%s, %s, %s);", (50505, 'Brenda', 'francês'))
session.execute("INSERT INTO professor (id_prof, nome_prof,  idioma_prof) VALUES (%s, %s, %s);", (60606, 'Luna', 'francês'))

In [18]:
session.execute("INSERT INTO sala_de_aula (id_sala, numero_sala, andar_sala, capacidade) VALUES (%s , %s, %s ,%s);", (101, 1, 1, 5))
session.execute("INSERT INTO sala_de_aula (id_sala, numero_sala, andar_sala, capacidade) VALUES (%s , %s, %s ,%s);", (102, 2, 1, 10))
session.execute("INSERT INTO sala_de_aula (id_sala, numero_sala, andar_sala, capacidade) VALUES (%s , %s, %s ,%s);", (103, 3, 1, 5))
session.execute("INSERT INTO sala_de_aula (id_sala, numero_sala, andar_sala, capacidade) VALUES (%s , %s, %s ,%s);", (201, 1, 2, 5))
session.execute("INSERT INTO sala_de_aula (id_sala, numero_sala, andar_sala, capacidade) VALUES (%s , %s, %s ,%s);", (202, 5, 2, 10))
session.execute("INSERT INTO sala_de_aula (id_sala, numero_sala, andar_sala, capacidade) VALUES (%s , %s, %s ,%s);", (203, 3, 2, 15))

In [19]:
session.execute("INSERT INTO agenda (hora, data, id_aluno, id_prof, id_sala, id_recep) VALUES (%s, %s, %s, %s, %s, %s);", ('2020-07-30 15:00:00', '2020-07-30', 1, 10101, 101, 1010))
session.execute("INSERT INTO agenda (hora, data, id_aluno, id_prof, id_sala, id_recep) VALUES (%s, %s, %s, %s, %s, %s);", ('2020-07-30 15:00:00', '2020-07-30', 2, 20202, 102, 1010))
session.execute("INSERT INTO agenda (hora, data, id_aluno, id_prof, id_sala, id_recep) VALUES (%s, %s, %s, %s, %s, %s);", ('2020-07-30 15:00:00', '2020-07-30', 3, 30303, 103, 2020))
session.execute("INSERT INTO agenda (hora, data, id_aluno, id_prof, id_sala, id_recep) VALUES (%s, %s, %s, %s, %s, %s);", ('2020-08-04 15:00:00', '2020-08-04', 6, 40404, 101, 4040))
session.execute("INSERT INTO agenda (hora, data, id_aluno, id_prof, id_sala, id_recep) VALUES (%s, %s, %s, %s, %s, %s);", ('2020-08-04 15:00:00', '2020-08-04', 7, 50505, 102, 3030))
session.execute("INSERT INTO agenda (hora, data, id_aluno, id_prof, id_sala, id_recep) VALUES (%s, %s, %s, %s, %s, %s);", ('2020-08-04 15:00:00', '2020-08-04', 8, 60606, 103, 2020))

In [20]:
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (10101, 'Jorge', 'ingles'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (12121, 'Luiz', 'ingles'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (13131, 'Vitoria', 'ingles'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (14141, 'Ingrid', 'ingles'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (15151, 'Maristela', 'ingles'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (16161, 'Carla', 'espanhol'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (17171, 'Brenda', 'espanhol'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (18181, 'Andre', 'espanhol'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (19191, 'Luna', 'frances'))
session.execute("INSERT INTO professor (id_prof, nome_prof, idioma_prof) VALUES (%s, %s, %s);", (20202, 'Stella', 'frances'))

In [21]:
statement = SimpleStatement("SELECT * FROM professor", fetch_size=10)
for user_row in session.execute(statement):
    print(user_row)

Row(id_prof=13131, idioma_prof='ingles', nome_prof='Vitoria')
Row(id_prof=18181, idioma_prof='espanhol', nome_prof='Andre')
Row(id_prof=10101, idioma_prof='ingles', nome_prof='Jorge')
Row(id_prof=60606, idioma_prof='francês', nome_prof='Luna')
Row(id_prof=20202, idioma_prof='frances', nome_prof='Stella')
Row(id_prof=14141, idioma_prof='ingles', nome_prof='Ingrid')
Row(id_prof=40404, idioma_prof='espanhol', nome_prof='Ingrid')
Row(id_prof=17171, idioma_prof='espanhol', nome_prof='Brenda')
Row(id_prof=30303, idioma_prof='espanhol', nome_prof='Vitória')
Row(id_prof=19191, idioma_prof='frances', nome_prof='Luna')
Row(id_prof=15151, idioma_prof='ingles', nome_prof='Maristela')
Row(id_prof=50505, idioma_prof='francês', nome_prof='Brenda')
Row(id_prof=16161, idioma_prof='espanhol', nome_prof='Carla')
Row(id_prof=12121, idioma_prof='ingles', nome_prof='Luiz')

In [22]:
statement = SimpleStatement("SELECT * FROM aluno", fetch_size=10)
for user_row in session.execute(statement):
    print(user_row)

Row(id_aluno=5, email_aluno='mateus@gmail.com', idioma_aluno='ingles', nome_aluno='Mateus')
Row(id_aluno=10, email_aluno='alex@gmail.com', idioma_aluno='espanhol', nome_aluno='Alex')
Row(id_aluno=1, email_aluno='ana@gmail.com', idioma_aluno='ingles', nome_aluno='Ana')
Row(id_aluno=8, email_aluno='arnaldo@gmail.com', idioma_aluno='frances', nome_aluno='Arnaldo')
Row(id_aluno=2, email_aluno='carol@gmail.com', idioma_aluno='ingles', nome_aluno='Carol')
Row(id_aluno=4, email_aluno='fernando@gmail.com', idioma_aluno='ingles', nome_aluno='Fernando')
Row(id_aluno=7, email_aluno='lucas@gmail.com', idioma_aluno='ingles', nome_aluno='Lucas')
Row(id_aluno=6, email_aluno='camila@gmail.com', idioma_aluno='ingles', nome_aluno='Camila')
Row(id_aluno=9, email_aluno='charles@gmail.com', idioma_aluno='frances', nome_aluno='Charles')
Row(id_aluno=3, email_aluno='bruna@gmail.com', idioma_aluno='espanhol', nome_aluno='Bruna')

In [23]:
statement = SimpleStatement("SELECT * FROM recepcionista", fetch_size=10)
for user_row in session.execute(statement):
    print(user_row)

Row(id_recep=4040, nome_recep='Geovana', senha_recep='senha4')
Row(id_recep=3030, nome_recep='Larissa', senha_recep='senha3')
Row(id_recep=2020, nome_recep='Débora', senha_recep='senha2')
Row(id_recep=1010, nome_recep='Glória', senha_recep='senha1')

In [24]:
statement = SimpleStatement("SELECT * FROM agenda", fetch_size=10)
for user_row in session.execute(statement):
    print(user_row)

Row(id_aluno=1, id_prof=10101, id_sala=101, id_recep=1010, data=Date(18473), hora=datetime.datetime(2020, 7, 30, 15, 0))
Row(id_aluno=8, id_prof=60606, id_sala=103, id_recep=2020, data=Date(18478), hora=datetime.datetime(2020, 8, 4, 15, 0))
Row(id_aluno=2, id_prof=20202, id_sala=102, id_recep=1010, data=Date(18473), hora=datetime.datetime(2020, 7, 30, 15, 0))
Row(id_aluno=7, id_prof=50505, id_sala=102, id_recep=3030, data=Date(18478), hora=datetime.datetime(2020, 8, 4, 15, 0))
Row(id_aluno=6, id_prof=40404, id_sala=101, id_recep=4040, data=Date(18478), hora=datetime.datetime(2020, 8, 4, 15, 0))
Row(id_aluno=3, id_prof=30303, id_sala=103, id_recep=2020, data=Date(18473), hora=datetime.datetime(2020, 7, 30, 15, 0))

In [25]:
statement = SimpleStatement("SELECT * FROM sala_de_aula", fetch_size=10)
for user_row in session.execute(statement):
    print(user_row)

Row(id_sala=201, andar_sala=2, capacidade=5, numero_sala=1)
Row(id_sala=203, andar_sala=2, capacidade=15, numero_sala=3)
Row(id_sala=102, andar_sala=1, capacidade=10, numero_sala=2)
Row(id_sala=101, andar_sala=1, capacidade=5, numero_sala=1)
Row(id_sala=202, andar_sala=2, capacidade=10, numero_sala=5)
Row(id_sala=103, andar_sala=1, capacidade=5, numero_sala=3)

In [26]:
session.execute("DELETE FROM aluno WHERE id_aluno = 5;")
session.execute("DELETE FROM professor WHERE id_prof = 15151;")

In [27]:
session.execute("UPDATE professor SET nome_prof = 'Marianne' WHERE id_prof = 20202;")
session.execute("UPDATE aluno SET idioma_aluno  = 'frances' WHERE id_aluno = 2;")